<%= form_for @song, url: {action: "create"} do |f| %>
    <div class="input-group">
      <h2 class="animated pulse">Add a new Song</h2>

      <div class="field">
        <p>Song title: <%= f.text_field :title, class: "form-control" %></p>
      </div>

      <div class="field">
        <p>Release year: <%= f.text_field :year, class: "form-control" %></p>
      </div>

      <div class="field">
        <p>Youtube URL: <%= f.text_field :video, class: "form-control" %></p>
      </div>

      <div class="field">
        <p>Artist: <%= f.text_field :artist_id, class: "form-control" %></p>
        <p>Queen: 1, Scorpions: 2, Guns N`Roses: 3</p>
      </div>

      <div class="field-submit">
        <p><%= f.submit "Add Song" %></p>
      </div>
    </div>
<% end %>
