<section class="container videoartist">
  <div class="row text-center">
    <h1><%= @song.title %></h1>

    <p>Band: <%= @song.artist.name %> </p>
    <p>Year: <%= @song.year %></p>

    <%= embed(@song.video) %>

    <% if user_signed_in? %>
      <h3><%= link_to "[Delete]", song_path( @song.id ), method: :delete, data: { confirm: "Are you sure?" } %></h3>
    <% end %>
  </div>
</section>
